html{
    font-size:14pt;
    font-family:sans-serif;
}
.logo{
    width:25%;
    height:auto;
}

#title{
    font-family:fantasy;
    font-weight:bold;
    font-size:2rem;
    color:indianred
}

.name{
    font-size:16pt;
    font-family:sans-serif;
    color:black
    
}

.bio{
    font-family: sans-serif;
  color:black
}

.secondary-heading{
    font-size: 1.5rem;
    color: indianred;
}

.Edtech{
  font-family: sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
}

.Edtech aside{
  background-color: indianred;
  width: 25%;
  float: center;
  padding: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

@media (max-width: 991px){
  .Edtech aside{
    background-color: indianred;
    color: white;
    float: unset;
    width: 75%;
    margin: 0 auto;
    padding: 25px;
  }
}

.edtech-tools{
    font-weight: bold;
    color:indianred
}

.coursework{
  color:indianred
}