.title{
  font-family:fantasy;
  color:Grey;
  background:white;
  text-align:center;
  font-size:5em;
}
.name{
  text-align:center;
}
.bio{
  text-align:center;
  font-family: arial;
  font-size:2em;
}
.text{
  text-align:center;
}
.logo{
  width:25%;
  height:auto;
  margin:auto;
  float:center;
}
.col-5{
  background-color:pink;
  color:white;
  text-align:center;
}
.heading{
  text-align:center;
  color:pink;
}
.secondary-heading{
  text-align:center;
  color:white;
  background:gray;
  font-size:2em;
}
.card{
  background-color:pink;
}
.card-title{
  font-family:fantasy;
  color:white;
  text-align:center;
}
.rightCol{
  position:absolute;
  left:45%
  
}
.leftCol{
  position:absolute;
  right:65%;
  text-align:center
}
.topnav {
  background-color: pink;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

 .topnav a.active {
  background-color: white;
  color: pink;
  font-size: 20px;
}
.hidden{
  display: none;
}

#cat-img{
  max-width: 50%;
  max-height: 400px;
}
